/* Space out content a bit */
body {
    padding-top: 20px;
    padding-bottom: 20px;
}
form .error{
    color : #E13300
}
/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
    padding-right: 15px;
    padding-left: 15px;
}

/* Custom page header */
.header {
    padding-bottom: 20px;
    border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
}

/* Custom page footer */
.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 768px) {
    .container {
        max-width: 730px;
    }
}
.container-narrow > hr {
    margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
    padding: 14px 24px;
    font-size: 21px;
}

/* Supporting marketing content */
.marketing {
    margin: 40px 0;
}
.marketing p + h4 {
    margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-right: 0;
        padding-left: 0;
    }
    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }
    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }
}

.btn-allow{
    background-color: #5cb85c;
    border-color: #4cae4c;
    color: #fff;
}
.btn-disallow{
    background-color: #d9534f;
    border-color: #d43f3a;
    color: #fff;
}

.btn-disallow:focus, .btn-allow:focus, .btn-disallow:hover, .btn-allow:hover{
    color: #fff;
}
.btn-disallow > span, .btn-allow > span{
    color: #fff;
}

.btn-disallow.active, .btn-disallow.focus, .btn-disallow:active, .btn-disallow:focus, .btn-disallow:hover, .open > .dropdown-toggle.btn-disallow {
    background-color: #c9302c;
    border-color: #ac2925;
    color: #fff;
}
.btn-allow.active, .btn-allow.focus, .btn-allow:active, .btn-allow:focus, .btn-allow:hover, .open > .dropdown-toggle.btn-allow {
    background-color: #449d44;
    border-color: #398439;
    color: #fff;
}
